body{
    margin: 0;
    padding: 0;
}
header{
    height: 275px;
    background: url('../img/banner_large.jpg') no-repeat right 0px;
}
header a.logo{
    display: block;
    position: absolute;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 150px;
    height: 85px;
    top: 28px;
    right: 30px;
    background-image: url('../img/logo_large.png');
}
nav{
    width: 100%;
    display: block;
    position: absolute;
    background-color: #a6430a;
    top: 275px;
}
nav a{
    margin: 12px 0px 10px 20px;
}
article{
    padding: 60px 20px 10px 20px;
}
.promo-container{
    padding: 0px 0px 15px 20px;
}
.promo{
    width: 33%;
    float: left;
    background-position: 0px 3px;
}
.content{
    padding: 0px 30px 0px 70px;
    margin: 5px 5px 0px 5px;
}